// Variables

// Colors
$black: #39382f;
$white: #fdfdfd;
$gray: #828282;
$gray-lite: lighten($gray, 40%);
$gray-dark: darken($gray, 25%);
$yellow: #e6db74;
$tan: #968777;

// Brand Swatches
$brand-main: $yellow;
$brand-secondary: $tan;

// Breakpoints
$bpSm: 37.5em; // 600px
$bpMd: 50em; // 800px
$bpLrg: 62.5em; // 1000px
$bpHuge: 187.5em; // 3000px
